.joinPage {
    background: linear-gradient(45deg, blueviolet, lightgreen);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.joinContainer h1 {
    color: #fff;
    font-size: 4rem;
    border-bottom: 0.1rem solid white;
}

#joinInput {
    width: 22vmax;
    padding: 1.5vmax;
    border: none;
    font-size: 1.2vmax;
    outline: none;
    margin: 15px 0;
    border-radius: 50px;
}


.LoginBtn {
     cursor: pointer;
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    font-size: 1.2vmax;
    outline: none;
    color: white;
    border-radius: 50px;
    background-color: crimson;
}

.joinBtn:hover {
    background-color: rgb(182, 12, 46);
}

@media screen and (max-width:1020px) {
    .joinContainer {
        width: 100%;
    }

    .joinContainer h1 {
        font-size: 7vmax;
    }

    #joinInput {
        border-radius: 50px;
        /* background-color: crimson; */
    }

    .joinBtn:hover {

        background-color: rgb(182, 12, 46);
    }
}